/*
 * General styles
 */



body, html{
     height: 100%;
    background-repeat: no-repeat;
    /*background-color: #d3d3d3;*/
    font-family: 'Oxygen', sans-serif;
}

#wrapper{
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 15px;
    background-color: #fff;

}

.vertical-offset-100{
    padding-top:100px;
}

.tab-content{
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;

}


h1.title { 
    font-size: 50px;
    font-family: 'Passion One', cursive; 
    font-weight: 400; 
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

.form-control {
    display: inline-block;
}

.fa.fa-arrows-v{
    cursor: pointer;
}
#labelDev{
    text-align: center;
    padding: 20px;
    /*border: medium;*/
}

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

#news{
    padding:10px;
}
.detailBox {
    width: 85%;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#e8e8e8;
    border:1px solid #bbb;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}


.title{
    padding: 10px;
    text-align: left;
}

.actionBox li{
    display: inline-block;
    width:100%;
    float: left;
}


.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    max-height:200px;
    overflow-y:auto;
    display:table-cell;
    text-align: center;
    margin:0;
    margin-top:10px;
}

.commentText p {
    margin:0;
}

.commentText:hover,.commentText:hover span {
    background: #337ab7;
    font-weight: bold;
    color: white;
}

.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}

.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.modal.fade{
  opacity:1;
}
.modal.fade .modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);
}
.btn-black{
  position:absolute;
  bottom:50px;
  transform:translateX(-50%);
  background:#222;
  padding:10px 20px;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:14px;
  font-weight:bold;
}